.h1[b-c7uk7a0who] {
    display: inline-block;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 4px;
    padding-right: 4px;
    border-style: double;
    border-width: 2px;
    border-style: solid;
    border-color: #00A4BD #33475B #FF7A59;
    color: green !important;
}
