@*

*@
@{
    ViewData["Title"] = "Casas";
    var image1Url = ViewData["Image1"] as string;
    var image2Url = ViewData["Image2"] as string;
    var image3Url = ViewData["Image3"] as string;
    var image4Url = ViewData["Image4"] as string;
    var image5Url = ViewData["Image5"] as string;
}
<style>
    body {
        background-color: #FFFAEB;
    }

    .banner {
        display: flex;
        align-items: center;
        padding: 20px;
    }

    .imagem-banner {
        margin-top: -185px;
        margin-left: 200px;
        width: 50%;
        height: auto;
    }

    .acolhe-queer-banner {
        font-size: 96px;
        font-weight: bold;
        color: #3a3764;
    }

    .flex-container {
        display: flex;
        align-items: flex-start;
        margin: 20px 0;
        margin-right: 200px;
    }

    .text-and-button {
        margin-left: 50px;
        margin-right: -190px;
        max-width: 600px;
        margin-top: 0px;
    }

    .btn {
        background: linear-gradient(to right, #FFB655, #FF637D);
        border: none;
        border-radius: 50px;
        color: white;
        display: inline-block;
        font-weight: bold;
        font-size: 16px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        transition: background 0.3s ease;
        margin-top: 50px;
    }

    .houseDescription {
        margin: 0;
        text-align: justify;
    }

    .houseImage {


    }

    #btn1 {
        margin-top: 93px;
    }

    #btn2 {
        margin-top: 115px;
    }

    #btn3 {
        margin-top: 91px;
    }

 
</style>
<body>
    <div class="banner">
        <div class="text">
            <h1 class="acolhe-queer-banner">Acolhe Queer</h1>
            <p>Encontre um lugar perto de você para acolhimento e atendimento psicológico, você não está sozinho!</p>
            <button style="background-image: linear-gradient(to right, #ffb655, #ff637d); color: white; padding: 20px 120px; border: none; border-radius: 50px;">Saiba mais</button>
        </div>
        <img src="/imgs/rainbow.png" alt="Descrição da imagem" class="imagem-banner">
    </div>

    <div class="flex-container">
        <img class="houseImage" src="@image1Url" width="602" height="400" alt="casa-nem" />
        <div class="text-and-button">
            <p class="houseDescription">Inaugurada em maio de 2019, a Casa Aurora é o primeiro centro de acolhida exclusivo para LGBTIs de Salvador. Coordenado pelo casal trans João Hugo e Sellena Ramos, da Associação de Diversidade e Inclusão da Bahia (ADIBA), o local recebe jovens queer de 18 a 29 anos em situação de vulnerabilidade social. O projeto oferece acolhimento integral, alimentação, produtos de higiene, serviços jurídicos, projetos socioeducatios e atendimento psicológico gratuito. A manutenção é feita por meio de financiamento coletivo e doações.</p>
            <a href="https://www.instagram.com/casanem_/" target="_blank" class="btn" id="btn1">Conheça a casa</a>
        </div>
    </div>

    <div class="flex-container">
        <img class="houseImage" src="@image2Url" width="602" height="400" alt="casa-chama" />
        <div class="text-and-button">
            <p class="houseDescription">A Casa Chama é uma organização civil que surgiu em 2018 com o objetivo de fortalecer a comunidade de artistas trans por meio de atendimentos de saúde, projetos culturais e assistências jurídicas. A casa é um ambiente de convívio seguro que produz desde eventos culturais e grupos de estudo até projetos de cuidado e apoio jurídico. Durante a pandemia, o órgão atua com a criação de um fundo emergencial de apoio para pessoas trans afetadas pelo covid-19 e assistidas pelo projeto.</p>
            <a href="https://www.instagram.com/casachama_org/" target="_blank" class="btn" id="btn2">Conheça a casa</a>
        </div>
    </div>

    <div class="flex-container">
        <img class="houseImage" src="@image3Url" width="602" height="400" alt="casa-transviver" />
        <div class="text-and-button">
            <p class="houseDescription">O Instituto Transviver é um centro de cultura, educação, esportes e acolhimento para LGBTIs, mas com um olhar especial para as pessoas trans. Criado em 2018 pelos ativistas Regina Guimarães e Juan Guiã, o projeto luta hoje pela reforma de sua sede. Após a conclusão das obras, a casa será o primeiro espaço de acolhimento de pessoas LGBTI+ em situação de vulnerabilidade social de Pernambuco, com dormitórios, cozinha e área de convivência completas. A manutenção também é feita por meio de financiamento coletivo e doações.</p>
            <a href="https://www.instagram.com/transviver/" target="_blank" class="btn" id="btn3">Conheça a casa</a>
        </div>
    </div>
</body>

</html>
