<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Principal</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-controller="Instituicao" asp-action="Index">Instituição</a></li>
                <li><a asp-controller="Usuarios" asp-action="Index">Usuários</a></li>
                <li><a asp-controller="Agendamentos" asp-action="Index">Agendamentos</a></li>
            </ul>
        </nav>
    </header>

 
    <footer>
    </footer>

</body>
</html>