@model acolhequeer_app.Models.Instituicao

<style>

    body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700; /* Define a fonte como Bold */
        background-color: #FFFAEB;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        flex-direction: column;
    }

    .usuario-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .row {
        position: relative;
        width: 400px;
        height: 440px;
        background: #E8D9AC;
        box-shadow: 0 0 15px rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 80px;
    }

        .row .custom-class {
            width: 100%;
            padding: 40px;
        }

    .custom-class h2 {
        font-size: 2em;
        color: #3A3764;
        text-align: center;
    }

    .custom-group {
        position: relative;
        width: 100%;
        height: 50px;
        border-bottom: 2px solid #3A3764;
        margin: 30px 0;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    .custom-group input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-size: .9em;
        color: #3A3764 !important;
        font-weight: 600;
        padding: 0 35px 0 5px;
    }

        .custom-group input::placeholder {
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            font-size: 1em;
            color: #3A3764;
            font-weight: 500;
            pointer-events: none;
            transition: 0.5s;
        }

        .custom-group input:focus {
            background: transparent;
            box-shadow: none;
        }

    .custom-group .icon {
        position: absolute;
        right: 8px;
        font-size: 1.2em;
        color: #3A3764;
        line-height: 57px;
    }

    #loginButton {
        width: 100%;
        height: 45px;
        outline: none;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        font-size: 1em;
        accent-color: #fff;
        font-weight: 500;
        background-size: 200%;
        background-image: linear-gradient(to left,#FFB655,#FF637D,#FFB655);
        transition: 0.6s;
    }

        #loginButton:hover {
            background-position: right;
        }

    .sign-up {
        font-size: 13px;
        color: #3A3764;
        text-align: center;
        margin: 20px 0 10px;
    }

        .sign-up p a {
            color: #3A3764;
        }

    .sign up a:hover {
        text-decoration: underline !important;
        color: #3A3764;
    }

</style>

<div class="usuario-container">

    <div class="row">
        <div class="col-md-4 custom-class">
            <form asp-action="Login">
                <h2>Instituição</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group custom-group">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <label asp-for="email" class="control-label sr-only">Email</label>
                    <input asp-for="email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="form-group custom-group">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <label asp-for="senha" class="control-label sr-only">Senha</label>
                    <input asp-for="senha" class="form-control" type="password" placeholder="Senha" />
                    <span asp-validation-for="senha" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" id="loginButton" />
                </div>
                <div class="sign-up">
                    <p>
                        Não tem uma conta?
                        <a asp-action="Create" id="signUpButton">Cadastre-se</a>
                    </p>
                </div>
            </form>
            <h3 id="message">@ViewBag.Message</h3>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
}