@model acolhequeer.Models.Instituicao

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Instituicao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Instituicao_id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cnpj" class="control-label"></label>
                <input asp-for="Cnpj" class="form-control" />
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco_rua" class="control-label"></label>
                <input asp-for="Endereco_rua" class="form-control" />
                <span asp-validation-for="Endereco_rua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco_bairro" class="control-label"></label>
                <input asp-for="Endereco_bairro" class="form-control" />
                <span asp-validation-for="Endereco_bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco_cidade" class="control-label"></label>
                <input asp-for="Endereco_cidade" class="form-control" />
                <span asp-validation-for="Endereco_cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco_estado" class="control-label"></label>
                <input asp-for="Endereco_estado" class="form-control" />
                <span asp-validation-for="Endereco_estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco_numero" class="control-label"></label>
                <input asp-for="Endereco_numero" class="form-control" />
                <span asp-validation-for="Endereco_numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco_cep" class="control-label"></label>
                <input asp-for="Endereco_cep" class="form-control" />
                <span asp-validation-for="Endereco_cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Adm_validacao" /> @Html.DisplayNameFor(model => model.Adm_validacao)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Pix_doacao" class="control-label"></label>
                <input asp-for="Pix_doacao" class="form-control" />
                <span asp-validation-for="Pix_doacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="N_vagas" class="control-label"></label>
                <input asp-for="N_vagas" class="form-control" />
                <span asp-validation-for="N_vagas" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Bool_atd" /> @Html.DisplayNameFor(model => model.Bool_atd)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Qtd_disponibilidade" class="control-label"></label>
                <input asp-for="Qtd_disponibilidade" class="form-control" />
                <span asp-validation-for="Qtd_disponibilidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
