@*
    
*@
@{
    ViewData["Title"] = "Casas";
    var image1Url = ViewData["Image1"] as string;
    var image2Url = ViewData["Image2"] as string;
    var image3Url = ViewData["Image3"] as string;
}
<!DOCTYPE html>
<html>
<head>
    <title>Casas</title>
</head>
<body>
    <img id="firstImage" src="@image1Url" width="1281" height="382" alt="casa-aurora" /> 

    <img class="houseImage" src="@image1Url" width="602" hight="577" alt="casa-aurora" /> 
    <p class="houseDescription">Inaugurada em maio de 2019, a Casa Aurora é o primeiro centro de acolhida exclusivo para LGBTIs de Salvador. Coordenado pelo casal trans João Hugo e Sellena Ramos, da Associação de Diversidade e Inclusão da Bahia (ADIBA), o local recebe jovens queer de 18 a 29 anos em situação de vulnerabilidade social. O projeto oferece acolhimento integral, alimentação, produtos de higiene, serviços jurídicos, projetos socioeducatios e atendimento psicológico gratuito. A manutenção é feita por meio de financiamento coletivo e doações. </p>
    <button type="button" class="btn btn-success">Conheça a casa</button>

    <img class="houseImage"  src="@image2Url" width="602" hight="577" alt="casa-chama" />
    <p class="houseDescription">A Casa Chama é uma organização civil que surgiu em 2018 com o objetivo de fortalecer a comunidade de artistas trans por meio de atendimentos de saúde, projetos culturais e assistências jurídicas. A casa é um ambiente de convívio seguro que produz desde eventos culturais e grupos de estudo até projetos de cuidado e apoio jurídico. Durante a pandemia, o órgão atua com a criação de um fundo emergencial de apoio para pessoas trans afetadas pelo covid-19 e assistidas pelo projeto. </p>
    <button type="button" class="btn btn-success">Conheça a casa</button>

    <img class="houseImage"  src="@image3Url" width="602" hight="577" alt="casa-transviver" />
    <p class="houseDescription">O Instituto Transviver é um centro de cultura, educação, esportes e acolhimento para LGBTIs, mas com um olhar especial para as pessoas trans. Criado em 2018 pelos ativistas Regina Guimarães e Juan Guiã, o projeto luta hoje pela reforma de sua sede. Após a conclusão das obras, a casa será o primeiro espaço de acolhimento de pessoas LGBTI+ em situação de vulnerabilidade social de Pernambuco, com dormitórios, cozinha e área de convivência completas. A manutenção também é feita por meio de financiamento coletivo e doações.</p>
    <button type="button" class="btn btn-success">Conheça a casa</button>
</body>
</html>