@*
    
*@
@{
    ViewData["Title"] = "Doaçoes";
    var image1Url = ViewData["Image1"] as string;
    var image2Url = ViewData["Image2"] as string;
    var image3Url = ViewData["Image3"] as string;
    var image4Url = ViewData["Image4"] as string;
    var image5Url = ViewData["Image5"] as string;
}
<style>
    body {
        background-color: #FFFAEB;
    }

    .flex-container {
        display: flex;
        align-items: flex-start;
        margin: 20px 0;
        margin-right: 200px;
        margin-left: -200px;
    }

    .text-and-button {
        margin-left: 20px;
        max-width: 600px;
        margin-top: 140px;
    }

    .btn {
        background: linear-gradient(to right, #FFB655, #FF637D);
        border: none;
        border-radius: 50px;
        color: white;
        display: inline-block;
        font-weight: bold;
        font-size: 16px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        transition: background 0.3s ease;
        margin-top: 100px;
    }
    .houseDescription {
        margin:0;
        text-align:justify;

    }
    .container 
    {
        align-items: flex-start;
        margin-top: -205px; 

    }
</style>
<body>
    <div class="container">
        <img id="firstImage" src="@image4Url" alt="nome-app" />
        <img id="secImage" src="@image5Url" alt="rainbow" />
    </div>

    
    <div class="flex-container">
        <img class="houseImage" src="@image2Url" width="602" height="480" alt="casa-chama" />
        <div class="text-and-button">
            <p class="houseDescription">
                Realizando transferência ou depósito para nossa conta:
                <br>Banco Itaú

                Agência: 0593 | Conta Corrente: 162.35-7
                CNPJ: 39.315.535/0001-97
                Associação Psicossocial Cultura e de Empreendedorismo para pessoas Transvestigeneres Casa Chama

                Chave PIX : 39.315.535/0001-97

                Doando através das carteiras digitais: AME – PicPay pelos QR Codes

                Doando através do nosso PayPal, na conta coletivocasachama@gmail.com (indicado para doações em moedas estrangeiras).
                <br<a href="https://www.instagram.com/casachama_org/" target="_blank" class="btn">Conheça a casa</a>
        </div>
    </div>

    
</body>

</html>